html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;

    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#blackoutcover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: black;
    opacity: 0;
    display: none;
    transition: all 1s;
}

#preloadPics {
    display: none;
}

#sidebar {
    background-color: rgba(192, 192, 203, 0.7);
    border-left: 0.1rem solid rgb(34, 33, 33);
    display: grid;
    grid-template-rows: auto 20%;

}

#container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 100%;
    overflow: auto;

}

#gameBoard {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(192, 192, 203, 0.7);
    box-shadow: 0.5rem 0.5rem 0.5rem black;
    border-radius: 2%;

}

.game-board-level1 {

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 26.67vw;
    height: 27.82vw;


}

.game-board-level2 {

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 33.33vw;
    height: 37.1vw;


}

.game-board-level3 {

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 40vw;
    height: 46.36vw;


}

#timerContainer {
    width: 90%;
    height: auto;
    margin: 1rem auto;



}

#timerSvg {
    width: 100%;
}

#timerLightRing {
    transform-origin: center;
    transform: rotate(-90deg);
}

#timerDigits {
    font-family: 'Roboto Mono', monospace;
}

.test {
    background-color: eggshell;
}

.card {
    background-color: #f0ead6;
    background-image: url('../img/memorycard-red.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    border-radius: 5%;
    box-shadow: 0.2rem 0.2rem 0.5rem black;
    justify-self: center;
    width: 80%;
    height: 80%;

}

.card-flipped {
    background-color: #f0ead6;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    border-radius: 5%;
    box-shadow: 0.2rem 0.2rem 0.5rem black;
    justify-self: center;
    width: 80%;
    height: 80%;
}

.card img {
    width: 80%;
    visibility: hidden;
}

.card-show {
    background-image: none;
}

.card-show img {
    visibility: visible;
}

button {
    color: rgb(33, 32, 32);
    font-size: 2rem;
    background-color: aliceblue;
    margin-top: 2rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
}

button:hover {
    color: aliceblue;
    background-color: rgb(33, 32, 32);
}