html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/blue-coral-crop.jpg');
    margin: 0;
    padding: 0;
    backdrop-filter: blur(10px);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#blackoutcover {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: black;
    opacity: 1;
    display: block;
    transition: all 2s;
    z-index: 99;
}

#preloadPics {
    display: none;
}

#sidebar {

    height: 100vh;
    background-color: rgba(192, 192, 203, 0.7);
    border-left: 0.1rem solid rgb(34, 33, 33);
    display: none;
    grid-template-rows: 1fr 3fr 1fr;

}

.logo {
    fill: rgb(255, 5, 5);
    stroke: red;
    width: 100%;
    justify-self: center;
}


#brainSvg {
    width: 100%;
    background: red;
}

.menuInnerContainer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

#brainSvg {
    fill: white;
}

#gameMenu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    width: 60%;
    max-width: 800px;
    z-index: 1;
}

.buttons {


    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 0 1.5rem;
    height: 6rem;
    border-radius: 0 0.8rem 0 0;

}

ul {

    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.8rem;
    margin: 0;
    padding: 0;
    
}

li {
    list-style: none; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

button, .stress-level-button {
    background:none;
    border: none;
    color: #f7f7f7;
    font-size: 2.5rem;
    margin: 0;
    align-self: center;
    padding: 0;
}

button:hover {
    text-decoration: underline;
}

.stressMenu {
    display: none;
    justify-content: end;
    position: absolute;
    background: rgba(0,0,0,0.4);
    bottom: 6rem;
    left: 0;
    border-radius: 0 0.8rem 0 0;
    width: 100%;

}

.stress-level-button {
    font-size: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin: 1rem 2rem 0 2rem
    
}

.stress-level-button:hover {
    text-decoration: underline;
}

.stress-level-button:hover .checkmark {
    text-decoration: none;
}

.checkmark {
    color: rgb(52, 235, 52);
    visibility: hidden;
    margin: 0 0.4rem;
    
}


.stress-level-chosen .checkmark {

    visibility: visible;

}


.hidden {

    display: none;

}

.svg-text {

    text-anchor: middle;
}

#levelTxt {
    text-anchor: middle;
}

#container {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    overflow: auto;

}

#gameBoard {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(192, 192, 203, 0.7);
    box-shadow: 0.5rem 0.5rem 0.5rem black;
    border-radius: 2%;
    overflow: hidden;

}

.game-board-menu {
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    width: 40vw;
    height: 46.36vw;
    padding: 2rem;
}

.game-board-level1 {

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 26.67vw;
    height: 27.82vw;


}

.game-board-level2 {

    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 33.33vw;
    height: 37.1vw;


}

.game-board-level3 {

    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 40vw;
    height: 46.36vw;


}

#timerContainer {

    width: 90%;
    height: auto;
    margin: 1rem auto;

}

#timerSvg {
    width: 100%;
}

#timerLightRing {
    transform-origin: center;
    transform: rotate(-90deg);
}

#timerDigits {
    font-family: 'Roboto Mono', monospace;
}

.test {
    background-color: eggshell;
}

.card {
    background-color: #f0ead6;
    background-image: url('../img/memorycard-red.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    border-radius: 5%;
    box-shadow: 0.2rem 0.2rem 0.5rem black;
    justify-self: center;
    width: 80%;
    height: 80%;

}

.card-flipped {
    background-color: #f0ead6;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
    border-radius: 5%;
    box-shadow: 0.2rem 0.2rem 0.5rem black;
    justify-self: center;
    width: 80%;
    height: 80%;
}

.card img {
    width: 80%;
    visibility: hidden;
}

.card-show {
    background-image: none;
}

.card-show img {
    visibility: visible;
}

#animationContainer {

    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 0;
}


.animationSprite {
    height: 100%;
} 

.animationSpriteContainer {

    height: 1px;
    position: absolute;
    

}

.spin0 {
    animation: aniSpin 5s linear infinite;
    
}

.spin1 {
    animation: aniSpin 8s linear infinite;
    
}

.spin2 {
    animation: aniSpin 12s linear infinite;
    
}

.spin3 {
    animation: aniSpin 18s linear infinite;
    
}

.spin4 {
    animation: aniSpin 26s linear infinite;
    
}

.spin5 {
    animation: aniSpin 36s linear infinite;
    
}

.spin6 {
    animation: aniSpin 48s linear infinite;
    
}

.spin7 {
    animation: aniSpin 64s linear infinite;
    
}

.spin8 {
    animation: aniSpin 80s linear infinite;
    
}

@keyframes aniSpin {
    0% {transform: rotate(0deg)}
   
    50% {transform: rotate(180deg)}
    
    100% {transform: rotate(360deg)}

}

